nav {
  padding: px 10px;
  background-color: white;
}
.navhead {
  color: black;
  font-style:normal;
  font-size:35px;
}
.search-container {
  float: inline-end;
}
#blog-container {
  align-items: normal;
  padding: 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.width {
  max-width: px;
}
#block-card {
  padding: 1rem;
  margin: 20px;
  border: 2px solid;
  width: 400px;
  cursor: pointer;
}
#block-card:hover {
  box-shadow: 4px 4px 34px rgba(0, 12, 0, 0.1);
}
#block-card img {
  height: 200px;
  width: 400px;
  object-fit: cover;
}
